.DS_Store
.env
.env.debug
.env.local
.env.testing
.idea/
.phpintel
/node_modules/
/vendor/
bootstrap/cache/
npm-debug.log
public/build/
public/hot
public/storage
storage/app/public/
yarn-debug.log
yarn-error.log
